#Searchnavbar{
    background-color: #8fa2d2; 
    /* height: 100; */
    
}
.addcol{
    padding: 0px !important;
    padding-right: 9px !important;
}
.addprod{
    font-size: 38px;
    text-align: right;
}
.fa-plus{
    color: black;
}

.card-group{
    border-color: #8fa2d2;
    border-width: 1px;
}

#PTselect{
    width: 200px;
}

.mb-1, .my-1 {
 
    margin-bottom: .5rem !important;
}

.ot-product {
    width: 18rem;
}

.cardstop{
    height: 400px;
}

.eb-product {
    height: 100px;
    width: 100px;
}

.hrproducten{
    width: 75%;
    border-style: inset;
    border-width: 1px;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.bekijkook{
    margin-top: 60px;
    
}
/* 
.bekijkookcards{
    padding-left: 60px;
    padding-right: 60px;
    

} */

.shop-bar {
    padding: .5rem;
}

.form-control {
    padding-left: .2rem !important;
    padding-right: 0px !important;
}

.bekijkook-col {
    padding-bottom: 15px;
}

.productImg {
    max-width: 400px;
    max-height: 500px;
}

.marginmid{
    margin: 25px !important;
    border-left: 1px solid rgba(0,0,0,.125) !important;
}

.category {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 200px;
    background: #ffffff;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;

    padding-left: .2rem !important;
    padding-right: 0px !important;
    border: 1px solid #ced4da;
    border-right: 0;
}

.search {
    max-width: 500px;
}

#vergelijkbareproductendetail{
    margin-left: 15px;
}


/* Productdetail */

.userdetailverticalline{
    border-left: 3px solid #8fa2d2;
    height: 500px;
    margin-bottom: 70px;
}

#myImg{
    display: block;
    margin: auto;
    margin-top: 50px;

}

#delaccept{
    text-align: right;
}

#delannuleer{
    text-align: left;
}

#proddel{
    margin-bottom: 216px;
}
.confirmdel{
    margin-top: 50px;
    text-align: center;
}

#userdetailline{
    margin-top: 20px;
    border-top: 3px solid #8fa2d2;
}

.editdeleteicons{
    font-size: 30px;
    margin-left: 10px;
    color: #000000;
}

.productspecs{
    margin-top: 10px;
    font-size: 30px;
    color: #000000;
}

.prodedit{
    text-align: right;
}


/* Categorie producten */

.PCimg{
    max-height: 250px !important;
    max-width: 330px !important;
}
.Cprods{
    width: 100%;
}
.searchresults{
    margin-top: 10px;
    margin-left: 110px;
}

.PCcard{
    border: 0px;
    margin-bottom: 20px;
    padding: 0px;
    display: flex;
    align-items: center;

}
.PCall{
    margin-top: 40px;
    margin-bottom: 40px;
}

.ulinfo{
    display: flex;
    align-items:center;
    padding: 20px;
}

ul.prodvraag {
    list-style-type: square;
    list-style-position: inside;
    margin-right: 10px;
}

ul.prodinfo {
    list-style-type: none;

}
  
/* shop index */

.productdetailimage{
    width: 250px; 
    height: 220px;
}

.OTcards{
    margin-bottom: 20px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.bekijkookimg{
    width: 300px !important;
}



/* shop eerder bekeken css */
/* .eerderbekeken{
    margin-top: 40px;
} */
.top{
    width: 95%;
    position: fixed;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 3%;
    padding-right: 3%;
}
.app_top {
    display: table-cell;
}
.app_top img {
    float: left;
    margin-right: 5px;
}
.main_EB{
    margin-bottom: 8px;
}

/* Pagination shop */

 .pagination{
    text-align: center;

    justify-content: center;
}

.page-link{
    background-color: #ffffff;
    border-color: #2f2e87;
    color: #2f2e87;
}

.page-item.disabled .page-link{
    background-color: #ffffff;
    border-color: #2f2e87;
    color: #2f2e87;
}


.page-item.active .page-link{
    background-color: #2f2e87;
    border-color: #2f2e87;
    color: #ffffff;
}


.page-link:hover {
    background-color: #2f2e87;
    border-color: #2f2e87;
    color: #ffffff;
} 

.pagelink{
    text-align: center;
}

.ul.pagination{
    text-align: center;
}



/* New prod */
.pagetitle{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.formcolnew{
    width: 100%;
}

.prodcreate{
    margin-top: 20px;
    text-align: center;
}

.imgomschr{
    margin-right: 20px;
}

.productinfoshopindex{
    margin-left: 20px;
}

.errormessage1{

    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #dc3545;
    background-color: #f8d7da;
}

form.Sbar input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    max-width: 250px;
    background: #ffffff;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;

    padding-left: .2rem !important;
    padding-right: 0px !important;
    border: 1px solid #ced4da;
    border-right: 0;
}

form.Sbar button {
    float: left;
    max-width: 50px;
    background: #2f2e87;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;

    border: 1px solid #2f2fff;
    border-left: 0;

    margin-left: -42px;
}

form.Sbar::after {
    content: "";
    clear: both;
    display: table;
}

.Sbar {
    float: right;
}

.fa-plus-square {
    color: #000000;
}

.sidecols{
    display: none;
    margin-right: 40px;
    margin-left: 40px;
}



@media only screen and (max-width: 320px) {
    .productImg {
       max-height: 330px;
       max-width: 230px;
    }
    .colcat{
        padding:  0px;
        width: 100%;
    }

}
@media only screen and (min-width: 425px) {
    .ulinfo{
        padding: 0px !important;
    } 

}

/* width 425 */
@media only screen and (min-width: 375px) and (max-width: 425px){
    /* .col{
        flex-basis: 500px !important;
    } 
    .ulinfo{
        padding: 20px !important;
    }  */

}
/* width 768 */
@media only screen and (min-width: 426px) and (max-width: 768px){
    .colcat{
        padding-left: 10px !important;
        padding-right: 10px !important;

    } 

}

@media only screen and (max-width: 426px) {
    .userdetailverticalline{
       display: none;

        
    } 
    .detailimg{
        max-width: 100%;
        height: auto;
    }
    .prodinformatie{
        max-width: 50%;
    }
}

@media only screen and (min-width: 844px) {
    .Sbar {
        float: right;
    }
}


/* @media only screen and (max-width: 768px) {

    .col-sm-8{
        flex: 100%;
    }
    .mainshopprods{
        flex: 100%;
    }
    .sidecols{
        display: block;
    }
    
    
} */

@media (max-width: 1024px){
    .col-sm-8{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sidecols{
        display: block;
    }

}


@media (max-width: 425px){
    .sidecols{
        display: none;
    }

}

.order1 {
    max-width: 425px;
}

video {
    width: 100%;
    height: auto;
}

canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
}


